/* primary-weather-nav.css */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    display: inline-block;
    padding: 10px;
    border: 1px solid lightblue;
    color: white;
    background-color: darkgray;
    text-decoration: none;
  }
  
  nav a:hover {
    border-width: 2px;
  }
