h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.weather-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.weather-list li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.weather-list li p {
    margin: 0;
}

.weather-list li p:first-child {
    font-weight: bold;
    flex-basis: 100%;
    margin-bottom: 5px;
}